body {
    font-family: "footlight MT light",Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 20px;
    background-color: yellow;
}

#logo {
    margin: 0px;
    padding: 0px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    
}

#yellow-text {
    text-shadow: 
    1px 1px 0px yellow,
    -1px 1px 0px yellow,
    1px -1px 0px yellow,
    -1px -1px 0px yellow;
}

#red-text {
    text-shadow: 
    1px 1px 0px red,
    -1px 1px 0px red,
    1px -1px 0px red,
    -1px -1px 0px red;
}
ul {
    margin: 0px;
}

body > header {
    background-color: black;
    display: flex;
    color: black;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
#nav-ul {
    display: flex;
    font-family: "footlight MT light",Helvetica, Arial, sans-serif;
    
}

#nav-ul > li {
    padding: 8px;
    margin: 0px 10px;
}

body > header > nav > ul {
    list-style-type: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

#article-header {
    font-weight: bold;
}

form {
    text-align: center;
}

body > footer {
    background-color: black;

}

img {
    border-radius: 10%;
    height: 350px;
    align-items: center;
    padding: 10px;
}

body > main > footer > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

body > footer > h2 {
    color: yellow;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left:12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}